In [20]:
# Q.1 Try 5 different functions of string in python

In [4]:
name = "Anugraha"
school = "Maratha mandal highschool, Nippani"
SSLC_marks = "93"
age = "20"

In [5]:
age

'20'

In [6]:
school

'Maratha mandal highschool, Nippani'

In [7]:
name.find

In [8]:
SSLC_marks.capitalize

In [9]:
name.split

In [12]:
school.index("N") , school.index("a")

(27, 1)

In [16]:
age.isdecimal()

True

In [21]:
#Q.2 Try different functions in list object in python

In [4]:
lst = ["anu","colour = blue,black,white",13,[1,2,3], 9898989889]

In [5]:
lst

['anu', 'colour = blue,black,white', 13, [1, 2, 3], 9898989889]

In [6]:
lst.append("age = 20")

In [7]:
lst

['anu', 'colour = blue,black,white', 13, [1, 2, 3], 9898989889, 'age = 20']

In [8]:
lst.index(13)

2

In [9]:
lst.index("colour = blue,black,white")

1

In [10]:
lst.remove(9898989889)

In [11]:
lst

['anu', 'colour = blue,black,white', 13, [1, 2, 3], 'age = 20']

In [12]:
lst.reverse()

In [13]:
lst

['age = 20', [1, 2, 3], 13, 'colour = blue,black,white', 'anu']

In [15]:
lst.count(3)

0

In [16]:
lst.count(13)

1

In [17]:
lst.count("anu")

1

In [22]:
#Q.3 Experiment with atleast 5 default functions of dictionary

In [30]:
dit = {"Student":"Anu","USN":"13","College":"M.V.J.C.E"," Subject cleared":"all","Email ID":"anugraha.kurane@gmail.com"}

In [31]:
dit

{'Student': 'Anu',
 'USN': '13',
 'College': 'M.V.J.C.E',
 ' Subject cleared': 'all',
 'Email ID': 'anugraha.kurane@gmail.com'}

In [32]:
dit.keys()

dict_keys(['Student', 'USN', 'College', ' Subject cleared', 'Email ID'])

In [33]:
dit.pop("USN")

'13'

In [34]:
dit.get("College")

'M.V.J.C.E'

In [35]:
dit.popitem()

('Email ID', 'anugraha.kurane@gmail.com')

In [36]:
dit.copy()

{'Student': 'Anu', 'College': 'M.V.J.C.E', ' Subject cleared': 'all'}

In [48]:
dit.items()

dict_items([('Student', 'Anu'), ('College', 'M.V.J.C.E'), (' Subject cleared', 'all')])